/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
$alt-body-color: #2e2014;
$primary-color: #22556d;
$secondary-color: #58b8d2;
$alert-color: #ef533e;
$success-color: #fcfdfe;
$warning-color: #f08a24;
$info-color: #cccccc;