@font-face {
    font-family: 'ProximaNovaA-Thin';
    src: url("../assets/fonts/proximanova/ProximaNovaA-Thin.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Thin.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Thin';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Thin.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Thin.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Extrabld';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Extrabld.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Extrabld.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Extrabld.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Extrabld.ttf") format("truetype");
}
@font-face {
    font-family: "Pr\aoximaNovaA-Extrabld";
    src: url("../assets/fonts/proximanova/ProximaNovaA-Extrabld.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Extrabld.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Extrabld.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Extrabld.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaA-Bold';
    src: url("../assets/fonts/proximanova/ProximaNovaA-Bold.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Bold.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Regular';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Regular.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Regular.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Semibold';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Semibold.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Semibold.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Bold';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Bold.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Bold.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaA-Light';
    src: url("../assets/fonts/proximanova/ProximaNovaA-Light.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Light.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaA-Semibold';
    src: url("../assets/fonts/proximanova/ProximaNovaA-Semibold.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Semibold.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Black';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Black.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Black.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Black.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaA-Regular';
    src: url("../assets/fonts/proximanova/ProximaNovaA-Regular.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Regular.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaA-Black';
    src: url("../assets/fonts/proximanova/ProximaNovaA-Black.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaA-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaA-Black.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaA-Black.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaS-Light';
    src: url("../assets/fonts/proximanova/ProximaNovaS-Light.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaS-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaS-Light.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaS-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNovaT-Thin';
    src: url("../assets/fonts/proximanova/ProximaNovaT-Thin.eot");
    src: url("../assets/fonts/proximanova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNovaT-Thin.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNovaT-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url("../assets/fonts/proximanova/ProximaNova-Extrabld.eot");
    src: url("../assets/fonts/proximanova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNova-Extrabld.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNova-Extrabld.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNova-Black';
    src: url("../assets/fonts/proximanova/ProximaNova-Black.eot");
    src: url("../assets/fonts/proximanova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNova-Black.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNova-Black.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url("../assets/fonts/proximanova/ProximaNova-Light.eot");
    src: url("../assets/fonts/proximanova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNova-Light.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNova-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url("../assets/fonts/proximanova/ProximaNova-Semibold.eot");
    src: url("../assets/fonts/proximanova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNova-Semibold.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNova-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("../assets/fonts/proximanova/ProximaNova-Regular.eot");
    src: url("../assets/fonts/proximanova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNova-Regular.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../assets/fonts/proximanova/ProximaNova-Bold.eot");
    src: url("../assets/fonts/proximanova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova/ProximaNova-Bold.woff") format("woff"), url("../assets/fonts/proximanova/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
    font-family:"Socialico";
    src: url("../assets/fonts/socialico/Socialico.eot?") format("eot"),
         url("../assets/fonts/socialico/Socialico.woff") format("woff"),
         url("../assets/fonts/socialico/Socialico.ttf") format("truetype"),
         url("../assets/fonts/socialico/Socialico.svg#Socialico") format("svg");
    font-weight:normal;
    font-style:normal;
}
