.posts-section {


  .row {
    @include transform(translateY(-200px));
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .iv-dropdown.select2-container {
    margin-bottom: 0;
  }

  li {
    @include inline-block;

    background: url('../assets/img/images/all_icon.png') no-repeat bottom;
    color: #838283;
    height: 65px;
    text-align: center;

    &:last-child {
      float: none;
    }

    &:hover {
      color: #fff;
    }

    &.active {
      color: #fff;
    }
  }

  hr {
    background-color: rgb(136, 136, 136);
    border: 0;
    height: 1px;
  }

  button {
    font-size: 10px;
    margin-bottom: 155px;
    margin-top: 60px;
    padding: 6px 15px;
    width: 110px;
  }
}

.wookmark-container {
  overflow: hidden;
}

.wookmark__item {
  background-color: #f4f4f4;
  border-radius: 4px/3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
  text-align: left;
  transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  width: 300px;

  &:hover {
    background-color: #fff;
  }

  &__text {
    padding: 30px 30px 60px 40px;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
  }


  p {
    color: #444;
  }

  strong {
    color: #666;
  }
}

.search-field-container {
  padding-right: 30px;
}

.shape_3 {
  background-color: rgb(136, 136, 136);
  height: 2px;
  left: 339px;
  position: absolute;
  top: 662px;
  width: 940px;
  z-index: 108;
}
