.top-banner-news-blog {
    background: url('../assets/img/imagesimages/top_banner_news_blog.jpg') no-repeat;
    background-size: cover;
    height: 700px;

    h1 {
        margin-top: 250px;
    }

    p {
        text-align: center;
    }
}
