.bulleted-list {
    list-style: none;

    li {
        color: #666;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
        padding-left: 1em;
        text-indent: -.7em;


        &:before {
            color: $primary-color;
            content: '• ';
            font-size: 20px;
            left: -10px;
            max-height: 0;
            max-width: 0;
            position: relative;
            top: 0;
        }
    }
}
