@import "foundation/scss/foundation/components/type";
@import "./config/colors";

/* begin type override */
body {
  letter-spacing: 0.050em;
}

ul {
  margin-left: 1.5rem;
}

/* add global text shadow to headings and paragraphs */
h1, h2, h3, h4, h5, h6, p, a, span {
  text-rendering: auto;
  -webkit-text-stroke: rgba($body-font-color, 0.5);
  text-shadow: 0 0 0.005em rgba($body-font-color, 0.5);
  &.success, &.disabled {
    -webkit-text-stroke: 0.005em rgba($success-color, 0.5);
    text-shadow: 0 0 0.005em rgba($success-color, 0.5);
  }
  &.secondary, &.secondary-color {
    -webkit-text-stroke: 0.005em rgba($secondary-color, 0.5);
    text-shadow: 0 0 0.005em rgba($secondary-color, 0.5);
  }
  &.alert, &.alert-color, &.h2 {
    -webkit-text-stroke: 0.005em rgba($alert-color, 0.5);
    text-shadow: 0 0 0.005em rgba($alert-color, 0.5);
  }
}

footer, nav {
  h1, h2, h3, h4, h5, h6, p, a, span {
    letter-spacing: normal;
  }
}

h1 {
  color: $alt-body-color;
}

h2, h3, h5 {}

h2 {
  color: $alert-color;
}

h1, h3, h5 {
  font-weight: 700;
}

h4, .button, button {
  text-transform: uppercase;
}

h4 {
  color: $body-font-color;
}

h3, h5 {
  color: $primary-color;
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

.p {
  @extend p;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.info-color {
  color: $info-color;
}

.warning-color {
  color: $warning-color;
}

.alert-color {
  color: $alert-color;
}